.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.immigration-bar {
    stroke: none;
    fill: steelblue;
}

.quota-bar {
    stroke: black;
    fill: none;
}

#map-svg {
    background-color: white;
}

#map-svg h1 {
    color: rgb(115, 115, 115);
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;

}

#map-svg #container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

#map-svg path:hover {
    fill: rgba(8, 81, 156, 0.2);
    cursor:pointer;
}